<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
    <link rel="stylesheet" href="HeroSection.css" />
  </head>
  <body>
    <section class="hero" style="margin-left: 80px; margin-right: 80px">
      <!-- header -->
      <div style="display: flex; justify-content: space-evenly">
        <h1 style="color: #b00020; font-size: 2rem">Top News Today</h1>
      </div>

      <div>
        <!-- HEADER A -->
        <div
          style="
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
          "
        >
          <a href="" class="RedColor" style="font-family: crimson-text-italic;">TOP NEWS /</a>
          <a href="">INDIA /</a>
          <a href="">WORLD /</a>
          <a href="">SPORT /</a>
          <a href="">BUSINESS /</a>
          <a href="">SCIENCE /</a>
          <a href="">TECHNOLOGY /</a>
          <a href="">ENTERTAINMENT /</a>
          <a href="">LIFE & STYLE</a>
        </div>

        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <!-- first outer div -->
          <div style="padding: 80px">
            <!-- first article view -->
            <div>
              <img src="" alt="" srcset="" class="s_Img" />
              <h4 class="RedColor">India</h4>
              <article class="s_article"></article>
              <p class="s_author"></p>
            </div>
            <hr />
            <!-- second article view -->
            <div>
              <img src="" alt="" srcset="" class="s_Img" />
              <h4 class="RedColor">India</h4>
              <article class="s_article"></article>
              <p></p>
            </div>
          </div>
          <!-- second outer div -->

          <div>
            <div style="width: 650px; height: 500px;">
              <img src="" alt="" srcset=""  width="90%" height="300px" />
              <h4 class="RedColor">India</h4>
              <article></article>
              <p></p>
            </div>
          </div>
          <!-- third outer div -->

          <div style="padding: 80px">
            <!-- first article view -->
            <div>
              <img src="" alt="" srcset="" class="s_Img" />
              <h4 class="RedColor">India</h4>
              <article class="s_article"></article>
              <p class="s_author"></p>
            </div>
            <hr />
            <!-- second article view -->
            <div>
              <img src="" alt="" srcset="" class="s_Img" />
              <h4 class="RedColor">India</h4>
              <article class="s_article"></article>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
